<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" backupGlobals="false" colors="true" processIsolation="false" stopOnFailure="false" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.1/phpunit.xsd" cacheDirectory=".phpunit.cache" backupStaticProperties="false">
  <coverage>
    <report>
      <clover outputFile="build/logs/clover.xml"/>
      <html outputDirectory="tests/coverage"/>
    </report>
  </coverage>
  <testsuites>
    <testsuite name="Tests">
      <directory suffix="Test.php">./tests</directory>
    </testsuite>
  </testsuites>
  <php>
    <var name="GuzzlerFilterNamespace" value="tests\testFiles"/>
    <var name="GuzzlerMacroFile" value="tests/testFiles/macros.php"/>
  </php>
  <extensions>
    <bootstrap class="BlastCloud\Guzzler\Helpers\Extension"/>
  </extensions>
  <logging/>
  <source>
    <include>
      <directory suffix=".php">./src</directory>
    </include>
    <exclude>
      <file>./src/UndefinedIndexException.php</file>
      <file>./src/Helpers/Extension.php</file>
      <directory>./src/Interfaces</directory>
    </exclude>
  </source>
</phpunit>
